* {
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
  background-color: white;
}
.left {
  flex: 1;
}
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
}
.navlink {
  text-decoration: none;
  color: rgb(110, 109, 109);
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navlink :hover {
  color: rgb(169, 167, 167);
}
.btn {
  width: 17%;
  height: 40px;
  padding: 10px;
  background-color: oklch(51.1% 0.096 186.391);
  border: none;
  border-radius: 5px;
  color: white;
}
.asdf {
  width: 30px;
  height: 25px;
  color: grey;
}
.title-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 85px;
}
.heading {
  font-size: 60px;
  width: 80%;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: rgb(57, 57, 57);
}
.head-part {
  color: rgb(143, 116, 48);
}
.subtxt {
  width: 45%;
  font-size: 23px;
  color: gray;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 34px;
  padding-top: 20px;
}
.curriculum {
  width: 15%;
  height: 48px;
  margin-top: 40px;
  background-color: white;
  border: 0.5px solid rgb(205, 205, 205);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgb(83, 83, 83);
}
.bg-image {
  margin-top: 20px;
  width: 100%;
  height: 450px;
  background-image: url("images/home-isometric-5dd4786e.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.how-it {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 85px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 100px;
}
.sub-heading {
  font-size: 31px;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: rgb(19, 19, 19);
  margin-bottom: 60px;
}
.para1 {
  width: 67%;
  font-size: 19px;
  color: gray;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 27px;
  padding-top: 20px;
}
.how-box {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 40px;
}
.how-card {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 25px;
}
.group-img {
  height: 155px;
}
.desc-heading {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: rgb(104, 104, 104);
  margin-top: 17px;
}
.descs {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(112, 112, 112);
  font-size: 17px;
  line-height: 25px;
}
.learn {
  width: 100%;
  padding: 85px 40px;
  text-align: center;
  background-color: rgb(241, 241, 241);
}
.group-courses {
  width: 100%;
  height: 300px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  transition: box-shadow 0.3s ease;
}
.course {
  background-color: white;
  width: 20%;
  height: 300px;
  padding-top: 30px;
  border-radius: 7px;
  text-align: center;
}
.images {
  height: 56%;
  width: 85%;
}
.para2 {
  width: 75%;
  font-size: 20px;
  color: rgb(112, 112, 112);
  font-weight: bold;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 25%;
  padding-top: 25px;
}
.group-courses :hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.testimonial {
  width: 100%;
  background-color: rgb(248, 248, 248);
  padding: 85px 40px;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.testi-bdy {
  display: flex;
  gap: 30px;
}
.left-testi {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.right-testi {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.testi-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-top: 15px;
}
.testi-para {
  width: 90%;
  padding-bottom: 50px;
  letter-spacing: 0.8px;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: rgb(67, 67, 67);
  line-height: 27px;
  padding-left: 25px;
}
.span {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-decoration: underline;
  color: black;
}
.first {
  display: flex;
}
.more {
  margin-top: 30px;
  text-decoration: underline;
  letter-spacing: 0.8px;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: rgb(67, 67, 67);
  line-height: 27px;
  margin-bottom: 170px;
}
.support {
  font-size: 31px;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: rgb(53, 53, 53);
  font-weight: 600;
}
.des-support {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(88, 88, 88);
  font-size: 14.5px;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.learnmore {
  width: 10%;
  height: 45px;
  background-color: white;
  border: 0.5px solid rgb(205, 205, 205);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgb(83, 83, 83);
  margin-right: 6px;
}
.donate {
  width: 13%;
  height: 45px;
  background-color: oklch(51.1% 0.096 186.391);
  border: 0.5px solid rgb(205, 205, 205);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-left: 6px;
}
.footer{
  width: 100%;
  height: 300px;
  padding-top: 50px;
  padding-left: 30px;
  display: flex;
}
.footer-left{
  width: 32%;
  display: flex;
   height: 300px;
  flex-direction: column;
}
.footer-right{
  width: 38%;
  height: 300px;
  display: flex;
  padding-left: 20px;
  
}
.footer-center{
  width: 30%;
   height: 300px;
   display: flex;
}

.footer-icons{
  height: 25px;
  width: 25px;
    color: rgb(145, 145, 145);
  margin-right: 20px;
}
.footer-line{
  width: 95%;
  color: rgb(101, 101, 101);
   font-family: "Roboto", sans-serif;
   font-size: 14.5px;
   letter-spacing: 0.5px;
   line-height: 25px;
   padding-bottom: 20px;
}
.footer-list{
  width: 50%;
  list-style: none;
   font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; 
}
.li-heading{
  font-size: 13.5px;
  font-weight: bold;
  color: rgb(28, 28, 28);
}
li{
  font-size:14.5px;
  color: gray;
  line-height: 35px;
}
.block{
  margin-bottom: 40px;
}
.reserved{
  margin: 30px;
 font-family: "Roboto", sans-serif;
 font-size: 12px;
 color: rgb(108, 107, 107);  
 letter-spacing: 0.3px;
}
.divider {
  width: 90%;
  height: 1px;
  background-color: #e5e7eb; 
  margin: 20px auto; 
}
