*{
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    background-color: blue;
}
.left{
 flex: 1;
}
.right{
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 gap: 25px;
}
.navlink{
    text-decoration: none;
    color: rgb(224, 60, 60);
     font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navlink :hover{
    color: rgb(169, 167, 167);
}
.btn{
    width: 17%;
    height:40px;
    padding: 10px;
    background-color:  oklch(51.1% 0.096 186.391);
    border: none;
    border-radius: 5px;
    color: white;
}
.asdf{
    width: 30px;
    height: 25px;
    color: grey;
}
.title-part{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 85px;
}
.heading{
    font-size: 60px;
    width: 80%;
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: rgb(57, 57, 57);
}
.head-part{
    color:rgb(143, 116, 48);
}
.subtxt{
    width: 45%;
    font-size: 23px;
    color: gray;
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 34px;
    padding-top: 20px;
}
.curriculum{
    width: 15%;
    height: 48px;
    margin-top: 40px;
    background-color: white;
    border: 0.5px solid rgb(205, 205, 205);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(83, 83, 83);
}
.bg-image{
    margin-top: 20px;
    width: 100%;
    height: 450px;
    background-image:url("images/home-isometric-5dd4786e.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.how-it{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 85px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 100px;
}
.sub-heading{
    font-size: 31px;
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: rgb(19, 19, 19);
}
.para1{
    width: 67%;
    font-size: 19px;
    color: gray;
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 27px;
    padding-top: 20px;

}
.how-box {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 40px;
}
.how-card {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 25px;
}
.group-img{
    height: 155px;
}
.desc-heading{
  font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;  
  color:rgb(104, 104, 104) ;
  margin-top: 17px;
  
}
.descs{
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:rgb(112, 112, 112) ;
    font-size: 17px;
    line-height: 25px;
}
.learn {
  width: 100%;
  padding: 85px 40px;
  text-align: center;
  background-color: rgb(241, 241, 241);
}

.sub-heading {
  margin-bottom: 60px;

}
.group-courses{
    width: 100%;
    height: 300px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    transition: box-shadow 0.3s ease;
    
    
}
.course{
    background-color: white;
    width: 20%;
    height:300px;
    padding-top: 30px;
    border-radius: 7px;
    text-align: center;
     
}
.images{
    height: 56%;
    width: 85%;
}
.para2{
    width: 75%;
    font-size: 20px;
    color:rgb(112, 112, 112);
    font-weight: bold;
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    padding-left: 25%;
    padding-top: 25px;
}
.group-courses :hover{
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.testimonial{
    width: 100%;
    background-color: rgb(248, 248, 248);
    height: 300px;
    padding: 85px 40px;
    text-align: center;
}